body {
    font-family: Inter, sans-serif;
    /* background-color: rgb(152, 218, 158); */
    background-color: rgb(255, 207, 216);
}

/* navbar */

.navbar-toggler {
    padding: 0.4rem;
    border: none;
    color: #222222;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar {
    padding: 1.1rem 0.8rem;
    border-bottom: 1px solid #222222;
    background: #fffdf9;
    letter-spacing: 1px;
}


/* main */

/* intro */
.intro {
    margin-top: 2rem;
    padding: 4.8rem 2.4rem;
    color: inherit;
}

.intro-left {
    padding-right: 2rem;
}

.intro-heading-primary {
    margin-bottom: 0.5rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    /* letter-spacing: 3px; */
}

.intro-heading-secondary {
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 200;
}

.intro-heading-tertiary {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4;
}

.intro-text {
    max-width: 80rem;
    margin-bottom: 4.8rem;
    line-height: 1.5;
}

.highlight {
    padding: 0 0.5rem;
    border-radius: 4px;
    background: #fff7ef;
    /* color: rgb(255, 102, 124); */
}


@media (min-width: 576px) {
    .intro-heading-primary {
        font-size: 4rem;
    }

    .intro-heading-secondary {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }

    .intro-heading-tertiary {
        margin-bottom: 0.9rem;
    }
}



.photo-container {
    display: flex;
    justify-content: end;
    align-items: start;
}

.profile-photo {
    width: 400px;
    /* border-radius: 50rem; */
    filter: grayscale(100%);
    margin-bottom: 3rem;
}

@media (max-width: 992px) {
    .photo-container {
        display: none;
    }
}

.btn-more {
    padding: 0.5rem 0.8rem;
    border-radius: 24px;
    background-color: #fff7ef;
}

.btn-more:hover {
    background-color: rgb(255, 102, 124);
}


/* about */

.about-content {
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.education-content {
    line-height: 1.7;
    display: flex;
    flex-direction: column;
}

.education-content span {
    font-size: 0.7rem;
}

.section {
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 3.2rem 2.4rem;
    transition: opacity 0.5s cubic-bezier(0.694, 0, 0.335, 1);
}

@media (min-width: 576px) {
    .section {
        padding: 3rem 6.4rem;
    }
}

@media (min-width: 1200px) {
    .section {
        gap: 4.5rem;
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgb(255, 102, 124);
}

@media (min-width: 992px) {
    .section-heading {
        text-align: right;
        padding-right: 1.6rem;
        margin-bottom: 0;
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .section-heading {
        padding-right: 0;
    }
}

@media (min-width: 992px) {

    .about .section-heading,
    .education .section-heading,
    .contact .section-heading {
        margin-top: 0.4rem;
    }
}

.section-content {
    max-width: 80rem;
}

.skill-content {
    display: flex;
    flex-wrap: wrap;
}

.skills {
    border-radius: 24px;
    border: 1px solid black;
    background-color: #fff9f3;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    margin-right: 3px;
    margin-bottom: 3px;
    
}

.card-img-top {
    /* border-top-left-radius: 2rem; */
    border-radius: 0;
}

.card {
    /* border: 1px solid rgb(43, 43, 43);
    border-top-left-radius: 2rem; */
    border-radius: 0;
    border: none;
    background-color: #fff9f3;
}

.project_type {
    font-size: 0.7rem;
    color: rgb(255, 102, 124);
}

.card-title {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    padding: 0;
}

.card-text {
    font-size: 0.9rem;
    font-weight: 300;
    height: 150px;
}

.card-category {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.5rem 0;
    padding: 0.2rem;
    border-bottom: 1px solid lightgray;
}

.category-title {
    font-weight: 400;
}

.category-content {
    display: flex;
    flex-wrap: wrap;
}

.category-content a {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: block;
}

.category-content,
.category-title {
    font-size: 0.8rem;
    padding: 0;
}

.category-content .skills {
    font-size: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 4px;

}

.resume-link {
    margin: 1.5rem 0;
}

.category-content a,
.resume-link a {
    text-decoration: none;
    color: black;
}


.category-content a:hover {
    color:  rgb(255, 102, 124);
    text-decoration: underline;
}


.resume-link a:hover {
    text-decoration: underline;
}


.accordion,
.accordion-item,
.accordion-header,
.accordion-body,
.accordion-button {
    border-radius: 0 !important;
    border: none !important;
}

.accordion-item {
    margin-bottom: 1rem;
    background-color: #fff9f3;
}

.accordion-body {
    font-size: 0.9rem;
    background-color: #fff9f3;
}

.accordion-button {
    background-color: #fff9f3;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}


.accordion-button:focus {
    box-shadow: none !important;
}


@media (min-width: 768px) {
    .accordion-button {
      display: flex;
      gap: 0;
    }
  }


.dates {
    font-size: 0.8rem;
    font-weight: 200;
}


.contact {
    font-size: 0.9rem;
}

.contact-text {
    line-height: 1.7;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(34, 34, 34, 0.5);
}

.contact-info {
    margin-top: 2.4rem;
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: max-content 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

.contact-info .subheading {
    color: #222222;
    font-weight: 700;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info a,
.social-item a {
    text-decoration: none;
    color: #222222;
}



@media (max-width: 576px) {
    .contact-email {
        word-break: break-word;
    }
}


/* footer */

.footer {
    padding: 1rem;
}

@media (min-width: 576px) {
    .footer {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }
}

.footer-copyright {
    font-size: 0.8rem;
}