body {
    font-family: Inter, sans-serif;
    /* background-color: rgb(255,202,12); */
    background-color: rgb(102,216,128);
}

/* navbar */

.navbar-toggler {
    padding: 0.4rem;
    border: none;
    color: #222222;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar {
    padding: 1.1rem 0.8rem;
    border-bottom: 1px solid #222222;
    background: #fffdf9;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }


  /* main */

  main {
    margin: 0 3rem;
  }

  .intro {
    max-width: 120rem;
    padding: 4.8rem 2.4rem;
    margin: 0 auto;
    color: inherit;
    display: flex;
  }

  .intro-heading-primary {
    margin-bottom: 0.5rem;
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
  }

  .intro-heading-secondary {
    margin-bottom: 3.6rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
  }

  .intro-heading-tertiary {
    margin-bottom: 1.2rem;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.4;
  }
  
  .intro-text {
    max-width: 70rem;
    margin-bottom: 4.8rem;
    line-height: 1.5;
  }

  .highlight {
    padding: 0 0.5rem;
    border-radius: 4px;
  }
  .highlight-0 {
    background: #ffffff;
    color: rgb(102,216,128);
  }
  .highlight-1 {
    background: rgb(255, 255, 255);
    color: rgb(102,216,128);
  }

  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-photo {
    width: 400px;
    border-radius: 50rem;
    filter: grayscale(100%);
    margin-bottom: 3rem;
  }

  @media (max-width: 992px) {
    .photo-container {
        display: none;
    }
  }